h1 {
	background-color:powderblue; }

h2 {
	border: solid 3px; 
	border-color: blue; 
	text-align: center; }

h3 {
	background-color:#E7DDFF; }

body {
	background-color:#EFC3CA;
	color:black;
	font-family:arial; } 
	
p {
	color:powderblue;}
	
ul {
	border: dotted 2px;
	border-color: brown;
	background-color:#A89180;}
	
ol {
	border: dashed 2px;
	border-color: powderblue;
	padding-top: 10px;
	padding-bottom: 11px;
	background-color:#A89180;}